.main-footer{

    margin-top:60px;

    background:#f8fbff;

    border-top:1px solid #dbeafe;

    padding:25px 20px;

    text-align:center;

}


.footer-content h3{

    font-family:'Orbitron', sans-serif;

    color:#2563eb;

    font-size:22px;

    margin-bottom:8px;

}


.footer-content p{

    font-family:'Poppins', sans-serif;

    color:#64748b;

    font-size:14px;

    margin:5px;

}


.copyright{

    font-size:13px !important;

    color:#94a3b8 !important;

}